body {
    margin: 0;
    overflow: hidden;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    display: block;
}